<div class="animated fadeIn">
    <div class="container">
        <div class="row">
            <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm.value)" class="col-md-12">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Personal</strong>
                            <small>Form</small>
                        </div>
                        <div class="card-body">
                            <div class=" form-group">
                                <label for="companyId">Company </label>
                                <select class="custom-select" name="companyId" ngModel>
                                <option value="null" disabled="true" [selected]="true">Select Company..</option>
                                <option *ngFor="let c of companies" [value]="c.id">{{c.companyName}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                                <label for="accountType ">Title</label>
                                <select class="custom-select" name="accountType" ngModel>
                                <option value="null" disabled="true" [selected]="true">Select Title..</option>
                                <option *ngFor="let t of titles" [value]="t.abv">{{t.name}}</option>
                              </select>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="firstname">First Name</label>
                                    <input type="text" class="form-control" id="firstname" placeholder="First Name" ngModel>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" ngModel>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" ngModel>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="phone">Phone</label>
                                    <input type="phone" class="form-control" id="phone" placeholder="Phone" ngModel>
                                </div>
                            </div>
                            <!--/.row-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Personal</strong>
                            <small>Form</small>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="street">Street</label>
                                <input type="text" class="form-control" id="street" placeholder="Enter street name" ngModel>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-8">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" id="city" placeholder="Enter your city" ngModel>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">Postal Code</label>
                                    <input type="text" class="form-control" id="postal-code" placeholder="Postal Code" ngModel>
                                </div>
                            </div>
                            <!--/.row-->
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" placeholder="Country name" ngModel>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--/.col-->
        </div>
        <div class="row">
            <div class="col-sm-8">
                <button [disabled]="!employeeForm.form.valid" type="submit" class="btn btn-outline-primary">Add</button>
            </div>
        </div>
    </div>
</div>