<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-10">
            <!-- Nav tabs -->
            <ngb-tabset (tabChange)="beforeChange($event)">
                <ngb-tab id="yana" title="Yana">
                    <ng-template ngbTabContent>
                        <!-- <ct-table [records]="orders" [caption]="" [settings]="orderSettings">
                    </ct-table> -->
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="willow" title="Willow">
                    <ng-template ngbTabContent>
                        <!-- <ct-table [records]="orders" [caption]="" [settings]="orderSettings">
                    </ct-table> -->
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <!--/.col-->
    </div>
</div>