<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 mb-6">
            <!-- Nav tabs -->
            <ngb-tabset>
                <ngb-tab heading="Yana">
                    <!-- <ct-table [records]="orders" [caption]="" [settings]="orderSettings">
                    </ct-table> -->
                </ngb-tab>
                <ngb-tab heading="Willow">
                    <!-- <ct-table [records]="orders" [caption]="" [settings]="orderSettings">
                    </ct-table> -->
                </ngb-tab>
            </ngb-tabset>
        </div>
        <!--/.col-->
    </div>
</div>