<div class="animated fadeIn">
    <div class="row">
        <!-- add app-sale-card here -->
        <!-- <app-sale-card [item]="em"></app-sale-card> -->
        <!-- <app-sale-card [item]="em"></app-sale-card> -->
    <div class="container">
        <h2 class="h2 text-muted">Yana</h2>
        <div class="card-group mb-4">
            
        </div>
    </div>
    <div class="container">
        <h2 class="h2 text-muted">Willow</h2>
        <div class="card-group mb-4">
     
        </div>
    </div>

</div>