<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p4">
                    <div class="card-body">
                        <h1>Clock In</h1>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="title">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="title">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="title">Time In</label>
                            <input type="datetime-local" class="form-control" id="timein" placeholder="Time In">
                        </div>
                        <div class="form-group">
                            <label for="title">Time Out</label>
                            <input type="datetime-local" class="form-control" id="timeout" placeholder="Time Out">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><a class="btn btn-primary btn-lg pull-right" routerLink="/dashboard"><i class="icon-home"></i></a></div>
    </div>
</div>