<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 mb-6">
            <!-- Nav tabs -->
            <ngb-tabset>
                <ngb-tab heading="Yana">
                    <ng-template ngbTabContent>
                        <ct-table [records]="orders" [caption]="" [settings]="orderSettings">
                        </ct-table>
                    </ng-template>
                </ngb-tab>
                <ngb-tab heading="Willow">
                    <ng-template ngbTabContent>
                        <ct-table [records]="orders" [caption]="" [settings]="orderSettings">
                        </ct-table>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <!--/.col-->
    </div>
</div>