<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 mb-6">
            <!-- Nav tabs -->
            <tabset>
                <tab heading="Yana">
                    <ct-table [records]="orders" [caption]="" [settings]="orderSettings">
                    </ct-table>
                </tab>
                <tab heading="Willow">
                    <ct-table [records]="orders" [caption]="" [settings]="orderSettings">
                    </ct-table>
                </tab>
            </tabset>
        </div>
        <!--/.col-->
    </div>
</div>